Repository Saturnd-Earth/se-fe, pull requests merged in 2021-01, with the labels that each got.

#14 Feed component
  .eslintcache
  public/index.html
  src/App.js
  src/Feed/Feed.js
  src/Feed/Feed.scss
  src/Header/Header.js
  src/Header/Header.scss
  src/Post/Post.js
  src/Post/Post.scss
  src/index.js
  src/requests.js
Labels: enhancement

#17 Login / Signup Component and Tests
  src/App.js
  src/Header/Header.js
  src/Login/Login.js
  src/Login/Login.test.js
  src/Make_Post/Make_Post.js
  src/Post/Post.js
  src/Scss/App.scss
  src/Scss/Header.scss
  src/Scss/Make_Post.scss
  src/Scss/Post.scss
  src/Scss/base.scss
  src/Scss/variables.scss
  src/SignUp/SignUp.js
  src/SignUp/SignUp.test.js
  src/index.js
Labels: Component, Testing, enhancement

#19 Make post page
  public/index.html
  src/App.js
  src/Header/Header.js
  src/Make_Post/Make_Post.js
  src/Make_Post/Make_Post_Input.js
  src/Post/Post.js
  src/Scss/App.scss
  src/Scss/Header.scss
  src/Scss/Make_Post.scss
  src/Scss/variables.scss
  src/images/add-comment-white.png
  src/index.js
Labels: Make_Post, SCSS

#20 Post edits
  .eslintcache
  src/App.js
  src/Feed/Feed.js
  src/Header/Header.js
  src/Post/Post.js
  src/Scss/Header.scss
  src/Scss/base.scss
  src/images/ring-icon.png
  src/index.js
Labels: enhancement

#21 Fix merge
  .eslintcache
  src/App.js
  src/Header/Header.js
Labels: enhancement

#22 Like functionality
  .eslintcache
  src/App.js
  src/Feed/Feed.js
  src/Header/Header.js
  src/Login/Login.js
  src/Make_Post/Make_Post.js
  src/Make_Post/Make_Post_Input.js
  src/Post/Post.js
  src/Post/Post.test.js
  src/Scss/Header.scss
  src/Scss/Make_Post.scss
  src/Scss/Post.scss
  src/Scss/base.scss
  src/Scss/variables.scss
  src/SignUp/SignUp.js
  src/SignUp/SignUp.test.js
  src/index.js
  src/requests.js
Labels: Component, Make_Post, Testing, bug, enhancement

#24 Login header
  src/App.js
  src/Feed/Feed.js
  src/Feed/Feed.scss
  src/Header/Header.js
  src/Header/Header_Bottom_Button.js
  src/Header/Header_Top_Button.js
  src/Scss/Feed.scss
  src/Scss/Header.scss
  src/Scss/Make_Post.scss
  src/Scss/Post.scss
  src/Scss/base.scss
  src/Scss/variables.scss
  src/images/login-blue.png
  src/images/login-white.png
  src/images/logout-blue.png
  src/images/logout-white.png
  src/images/sign-up-blue.png
  src/images/sign-up-mix-white.png
  src/images/sign-up-mix.png
  src/images/sign-up-white.png
Labels: Home, SCSS

#25 Dynamic post
  .eslintcache
  src/App.js
  src/Feed/Feed.js
  src/Post/Post.js
Labels: enhancement

#26 Testing2
  .gitignore
  src/App.js
  src/Header/Header.test.js
  src/Header/Header_Top_Button.js
  src/Make_Post/Make_Post.test.js
  src/Make_Post/Make_Post_Input.js
Labels: Component, Testing

#30 Testing3
  src/App.js
  src/Feed/Feed.js
  src/Feed/Feed.test.js
  src/Make_Post/Make_Post.test.js
Labels: Component, Testing

#32 Nextifcation style
  src/Feed/Feed.js
  src/Scss/Feed.scss
  src/Scss/Header.scss
  src/Scss/Make_Post.scss
  src/Scss/Post.scss
  src/Scss/variables.scss
  src/images/next-mixed.png
  src/images/prev-mixed.png
Labels: Home, SCSS

#33 Map integration
  public/index.html
  src/Feed/Feed.js
  src/Header/Header.js
  src/Header/Header_Bottom_Button.js
  src/Header/Header_Top_Button.js
  src/Scss/base.scss
  src/Scss/map.scss
  src/helperFx.js
  src/mapActions.js
Labels: Component, SCSS, View_Post

#35 Post content
  src/Make_Post/Make_Post.js
  src/Make_Post/Make_Post_Input.js
  src/Make_Post/Post_Forms/Comment.js
  src/Make_Post/Post_Forms/Image.js
  src/Make_Post/Post_Forms/Video.js
  src/requests.js
Labels: Make_Post

#36 Map styling
  src/App.js
  src/Feed/Feed.js
  src/Header/Header.js
  src/Header/Header_Top_Button.js
  src/Login/Login.js
  src/Make_Post/Make_Post.js
  src/Make_Post/Post_Forms/Comment.js
  src/Make_Post/Post_Forms/Image.js
  src/Make_Post/Post_Forms/Video.js
  src/Post/Post.js
  src/Scss/App/App.scss
  src/Scss/App/App_Media.scss
  src/Scss/Feed.scss
  src/Scss/Feed/Feed.scss
  src/Scss/Feed/Feed_Media.scss
  src/Scss/Header/Header.scss
  src/Scss/Header/Header_Media.scss
  src/Scss/Make_Post/Make_Post.scss
  src/Scss/Make_Post/Make_Post_Media.scss
  src/Scss/Post/Post.scss
  src/Scss/Post/Post_Media.scss
  src/Scss/base.scss
  src/Scss/map.scss
  src/Scss/variables.scss
  src/SignUp/SignUp.js
  src/Your_Posts/Your_Posts.js
  src/helperFx.js
  src/images/earth-blue.png
  src/images/earth-white.png
  src/images/loading.png
  src/images/sign-up-blue.png
  src/index.css
  src/mapActions.js
  src/requests.js
Labels: Component, Make_Post, SCSS, View_Post

#37 Mobile desktop view
  public/index.html
  src/App.js
  src/Header/Header_Bottom_Button.js
  src/Login/Login.js
  src/Scss/App/App.scss
  src/Scss/Feed/Feed.scss
  src/Scss/Header/Header.scss
  src/Scss/Make_Post/Make_Post.scss
  src/Scss/Map_Media.scss
  src/Scss/Sing_Up_Login/Sign_In_Login.scss
  src/Scss/Sing_Up_Login/Sign_In_Login_Media.scss
  src/Scss/base.scss
  src/Scss/map.scss
  src/Scss/variables.scss
  src/SignUp/SignUp.js
  src/images/earth-white.png
  src/index.css
Labels: SCSS

#50 Scss fixes and testing
  .eslintcache
  src/Feed/Feed.js
  src/Feed/Feed.test.js
  src/Header/Header.test.js
  src/Login/Login.test.js
  src/Make_Post/Make_Post.js
  src/Scss/Feed/Feed.scss
  src/Scss/Make_Post/Make_Post.scss
  src/Scss/variables.scss
  src/mapActions.js
Labels: enhancement

#51 Splash page
  public/index.html
  src/App.js
  src/Feed/Feed.js
  src/Post/Post.js
  src/Scss/map.scss
  src/Splash/Splash.js
  src/mapActions.js
  src/requests.js
Labels: Component, SCSS, bug, enhancement

#52 Disable post button
  src/App.js
  src/Login/Login.js
  src/Make_Post/Make_Post.js
  src/Scss/Feed/Feed.scss
  src/Scss/Make_Post/Make_Post.scss
  src/Scss/Sing_Up_Login/Sign_In_Login.scss
Labels: Make_Post, SCSS

#53 Disable the like button when not signed in
  src/Make_Post/Make_Post.js
  src/Post/Post.js
  src/Scss/Post/Post.scss
Labels: Home, SCSS

#54 User can now logoff and log on
  src/App.js
  src/Feed/Feed.js
  src/Header/Header.js
  src/Header/Header_Top_Button.js
  src/Login/Login.js
  src/Make_Post/Make_Post.js
  src/Post/Post.js
Labels: SCSS, login

#68 Chris testing
  .eslintcache
  src/Header/Header.test.js
  src/Your_Posts/Your_Posts.test.js
Labels: enhancement
